@if (!string.IsNullOrEmpty(DisplayMessage))
{
    <div class="alert alert-@StatusMessageClass" role="alert">
        @DisplayMessage
    </div>
}

@code {
    private string? messageFromCookie;

    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public string? MessageClass { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string? DisplayMessage => Message ?? messageFromCookie;
    private string StatusMessageClass => MessageClass ?? (DisplayMessage is not null && DisplayMessage.StartsWith("Error") ? "danger" : "success");

    protected override void OnInitialized()
    {
        messageFromCookie = HttpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];

        if (messageFromCookie is not null)
        {
            HttpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
        }
    }
}
