@using RoyalIdentity.Users

@inject ISignInManager SignInManager
@inject IdentityRedirectManager RedirectManager

@if (ExternalProviders.Any())
{
    <div class="card">
        <div class="card-header">
            <h2>Use another service to log in.</h2>
        </div>

        <div class="card-body">
            <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
                <div>
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
                    <p>
                        @foreach (var provider in ExternalProviders)
                        {
                            <button type="submit" class="btn btn-primary" name="provider"
                                    value="@provider.AuthenticationScheme"
                                    title="Log in using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </p>
                </div>
            </form>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<ExternalProvider> ExternalProviders { get; set; } = default!;
}
