@inject ILoginPageService LoginPageService
@inject NavigationManager NavigationManager

<StatusMessage Message="@errorMessage" MessageClass="danger"/>

<EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
    <DataAnnotationsValidator/>
    <ValidationSummary class="text-danger" role="alert"/>

    <InputText @bind-Value="Input.ReturnUrl" type="hidden" />

    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.Username" class="form-control" id="Username" autocomplete="username" aria-required="true" placeholder="Username" auto-focus />
        <label for="Username" class="form-label">Username</label>
        <ValidationMessage For="() => Input.Username" class="text-danger"/>
    </div>

    <div class="form-floating mb-3">
        <InputText type="password" @bind-Value="Input.Password" class="form-control" id="Password" autocomplete="off" aria-required="true" placeholder="Password" />
        <label for="Password" class="form-label">Password</label>
        <ValidationMessage For="() => Input.Password" class="text-danger"/>
    </div>

    @if (Model.AllowRememberLogin)
    {
        <div class="checkbox mb-3">
            <label class="form-label">
                <InputCheckbox @bind-Value="Input.RememberLogin" class="darker-border-checkbox form-check-input"/>
                Remember My Login
            </label>
        </div>
    }

    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>

    <div class="mt-2">
        <p class="text-center">
            <a href="account/forgot-password">Forgot your password?</a>
        </p>
    </div>
</EditForm>


@code {
    private string? errorMessage;

    [Parameter, EditorRequired]
    public LoginViewModel Model { get; set; } = default!;

    [SupplyParameterFromForm]
    private LoginInputModel Input { get; set; } = new();

    protected override Task OnParametersSetAsync()
    {
        Input.ReturnUrl = Model.ReturnUrl;
        return base.OnParametersSetAsync();
    }

    public async Task LoginUser()
    {
        var result = await LoginPageService.LoginAsync(Input, CancellationToken.None);
        if (result.NavigateTo is null)
        {
            errorMessage = result.ErrorMessage;
            return;
        }
        NavigationManager.NavigateTo(result.NavigateTo, result.ForceLoad);
    }
}
