@attribute [Route(Routes.Login)]

@inject ILoginPageService LoginPageService
@inject NavigationManager NavigationManager

<PageTitle>Log in</PageTitle>

<AccountContent>
    <Title>
        <h1>Log in</h1>
    </Title>
    <ChildContent>
        @if (model is not null)
        {
            if (model.EnableLocalLogin)
            {
                <LocalLogin Model="model" />
            }

            if (model.EnableExternalLogin)
            {
                <ExternalLoginPicker ExternalProviders="model.GetVisibleExternalProviders()" />
            }
        }
    </ChildContent>
</AccountContent>

@code {
    [Parameter]
    public string? Realm { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private LoginViewModel? model = null;

    protected override async Task OnParametersSetAsync()
    {
        model = await LoginPageService.BuildViewModelAsync(ReturnUrl, CancellationToken.None);
        if (model is null)
            NavigationManager.NavigateTo(Routes.SelectDomain);
    }
}
