@attribute [Route(Routes.LoggingOut)]

@inject IEndSessionPageService EndSessionPageService
@inject NavigationManager NavigationManager

<PageTitle>Logging out</PageTitle>

<AccountContent>
    <Title>
        <h1>Logging out</h1>
    </Title>
    <ChildContent>
        <div>
            Processing, wait a moment
        </div>
        <div>
            Click <a class="@ClickCssClasses" href="@RedirectUrl">here</a> @ToReturnMessage
        </div>
        @if (model?.HasFrontChannel is true)
        {
            <iframe width="0" height="0" class="sign-out" src="@model.SignOutIframeUrl.AddQueryString(Oidc.Routes.Params.CallbackId, LogoutId!)"></iframe>
        }
    </ChildContent>
</AccountContent>

@code {

    private LoggingOutViewModel? model;

    private string ClickCssClasses => $"post-logout-redirect-uri{(model?.AutomaticRedirectAfterSignOut is true ? " automatic-redirect" : "")}";

    private string RedirectUrl => model?.PostLogoutRedirectUri ?? Routes.BuildLoggedOutUrl(Realm);

    private string ToReturnMessage => model?.ClientName.IsPresent() is true
        ? $"to return to the {model.ClientName} application."
        : "to return to the application.";

    [Parameter]
    public string Realm { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? LogoutId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (LogoutId is null)
        {
            NavigationManager.NavigateTo(Routes.Error);
            return;
        }

        model = await EndSessionPageService.BuildLoggingOutAsync(LogoutId, CancellationToken.None);

        if (model is null)
            NavigationManager.NavigateTo(Routes.Error);
    }
}
