@page "/{realm}/account/logout/done"

<AccountContent>
    <Title>
        <h1>Logged out</h1>
    </Title>
    <ChildContent>
        <div>
            You have been logged out.
        </div>
    </ChildContent>
</AccountContent>
