@attribute [Route(Routes.Logout)]

@inject IEndSessionPageService EndSessionPageService
@inject NavigationManager NavigationManager

<PageTitle>Log out</PageTitle>

<AccountContent>
    <Title>
        <h1>Logging out</h1>
    </Title>
    <ChildContent>
        @if (showPrompt)
        {
            <EditForm Model="LogoutInput" method="post" OnValidSubmit="LogoutUser" FormName="logout">

                <InputText @bind-Value="LogoutInput!.ConfirmedId" type="hidden" />

                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log out</button>
                </div>

            </EditForm>
        }
    </ChildContent>
</AccountContent>

@code {

    private bool showPrompt = false;

    [Parameter]
    public string Realm { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? LogoutId { get; set; }

    [SupplyParameterFromForm]
    private LogoutInputModel? LogoutInput { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var result = await EndSessionPageService.BeginLogoutAsync(LogoutId, CancellationToken.None);

        if (result.Type == LogoutResultType.RequiresConfirmation)
        {
            showPrompt = true;
            LogoutInput = new LogoutInputModel { ConfirmedId = result.NavigateTo };
            return;
        }

        NavigationManager.NavigateTo(result.NavigateTo!);
    }

    public async Task LogoutUser()
    {
        if (LogoutInput?.ConfirmedId is null)
        {
            NavigationManager.NavigateTo(Routes.Error);
            return;
        }

        var result = await EndSessionPageService.ConfirmLogoutAsync(LogoutInput.ConfirmedId, CancellationToken.None);
        NavigationManager.NavigateTo(result.NavigateTo!);
    }
}
