@page "/account/login"
@using RoyalIdentity.Users

@inject ISignInManager SignInManager

<h3>Login</h3>

@code {

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = await SignInManager.GetAuthorizationContextAsync(ReturnUrl, default);


        
    }
}
