
<section>
    <div class="account-content-title">
        @Title
    </div>
    <div class="account-content-body">
        @ChildContent
    </div>
</section>

@code {

    [Parameter]
    public RenderFragment Title { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}