@using RoyalIdentity.Extensions
@inherits Editor<ICollection<ScopeConsentInputModel>>

@if (Value is not null && Value.Count is not 0)
{
    <div class="mb-3">
        <div class="consent-box">
            <div class="consent-title">
                <span class="@IconClass"></span>
                @Description
            </div>
            <ul class="list-group list-group-flush">
                @for (int i = 0; i < Value.Count; i++)
                {
                    var scope = Value.ElementAt(i);
                    var id = $"scopes_{scope.Scope}";
                    <Scope @bind-Value="scope" Index="i" BindPrefix="@BindPrefix" @key="id" />
                }
            </ul>
        </div>
    </div>
}

@code {

    [Parameter, EditorRequired]
    public string IconClass { get; set; }

    [Parameter, EditorRequired]
    public string Description { get; set; }

    [Parameter, EditorRequired]
    public string BindPrefix { get; set; }
}
