


/* Descrição ou termos */
.consent-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* Link para mais detalhes (opcional) */
.consent-link {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
  text-align: center;
}

.consent-link:hover {
  text-decoration: underline;
}

.darker-border-checkbox {
    border-color: #929292;
}

.list-group-item {
    margin-bottom: 1rem;
}

.icon-exclamation-sign {
    position: absolute;
    top: .25rem;
    left: .5rem;
}