@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are authenticated</h1>
    <p>
        Hello @User.Identity?.Name!
    </p>


    <dl>
        @foreach (var c in User.Claims)
        {
            <dt>@c.Type</dt>
            <dd>@c.Value</dd>
        }
    </dl>

</div>
