@attribute [Route(Routes.Profile)]
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using RoyalIdentity.Extensions

<PageTitle>User Panel</PageTitle>

<h1>User Panel</h1>

<AuthorizeView>

    <h2>
        Olá @context.User.GetDisplayName().
    </h2>

    <div>
        <div>User information</div>
        <div>
            @foreach(var claim in context.User.Claims)
            {
                <div>@claim.Type: @claim.Value</div>
            }
        </div>
    </div>

</AuthorizeView>

@code {
    [Parameter]
    public string Realm { get; set; } = default!;

}